body {
  font-family: "Droid Serif";
}
h1,
h2,
h3 {
  font-family: "Yanone Kaffeesatz";
  font-weight: normal;
}
.remark-code,
.remark-inline-code {
  font-family: "Ubuntu Mono";
}
table {
  width: 100%;
}
.remark-slide-content {
  background-size: contain;
}
.section-background {
  background-color: #1494f6;
  color: white;
  background-image: url("../images/white.png");
  background-position-y: 0em;
  background-position-x: 0em;
  background-size: 100% 37%;
  display: block;
  height: 100%;
  padding-top: 18%;
}
.full-col {
  width: 100%;
  float: left;
}
.left-col {
  width: 50%;
  float: left;
}
.right-col {
  width: 50%;
  float: right;
}
.small {
  font-size: small;
}
.footer {
  font-size: small;
  position: absolute;
  bottom: 15px;
  left: 60px;
}
.img-border {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.scrollable {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  display: block;
  height: 700px;
}
.jquery-modal.blocker {
  /* Position document outline modal on top of slide */
  z-index: 9;
}
.slideshow-outline-link {
  bottom: 35px;
  opacity: 0.3;
  position: absolute;
  right: 20px;
}
.outline-active-slide-link {
  color: white;
  background-color: #1494f6;
}
.outline-section-item {
  font-size: small;
  padding: 3px 3px 3px 20px;
}
.outline-section-header {
  padding: 3px;
}
.outline-section-item, .outline-section-header {
  margin: 6px 0 2px 0px;
}
.modal a:visited, .modal a:link {
  color: black;
  text-decoration: none;
}
