@model Litium.Accelerator.ViewModels.Author.AuthorViewModel

<div class="row">
    <div class="columns small-12 medium-4">
        @Html.ImageFor(x => x.Image, new Size(400, -1))
    </div>
    <div class="columns small-12 medium-8">
        <h2>Featured author: @Model.Title</h2>
        <p>@Model.Introduction</p>
    </div>
</div>