[req]
distinguished_name = req_distinguished_name
req_extensions     = extensions
x509_extensions    = v3_ca
 
[req_distinguished_name]
commonName                  = Common Name (e.g. server FQDN or YOUR name)
commonName_default          = localhost
commonName_max              = 64
 
[extensions]
 
[v3_ca]
subjectAltName = @alt_names
basicConstraints = critical, CA:false
keyUsage = keyCertSign, cRLSign, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
1.3.6.1.4.1.311.84.1.1=DER:02
 
[alt_names]
DNS.1   = localhost
DNS.2   = 127.0.0.1
DNS.3   = *.localtest.me
DNS.4   = *.docker.internal
